---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Header from '../components/Header.astro'
import nino from "../assets/img/iconos/nino.png"
import endodoncia from "../assets/img/iconos/endodoncia.png"
import tirantes from "../assets/img/iconos/tirantes.png"
import cirugia from "../assets/img/iconos/cirugia.png"
import chequeo from "../assets/img/iconos/chequeo-dental.png"
import mandibula from "../assets/img/iconos/mandibula.png"
import Servicio from '../components/Servicio.astro'
import Casos from '../components/Casos.astro'
import Botonesflotantes from '../components/BotonesFlotantes.astro'
---

<DefaultLayout title="Implantología">
  <Header />
  <Servicio 
    title='Implantología' 
    subtitle='Puntos Importantes'
    punto1='Tipos de aparatos' 
    punto2='Cuidado de tus brackets' 
    contentmedia='¿Qué es la Implantología?'
    contentmedia1='La implantología dental es una disciplina odontológica que se dedica al reemplazo de dientes perdidos mediante la colocación quirúrgica de un implante dental en el maxilar o la mandíbula. A día de hoy se considera una de las técnicas más eficaces de rehabilitación dental.'
    infoDesplegable1='BRACKETS METÁLICOS: De todos los tipos de brackets son los más conocidos y menos estéticos.'
    infoDesplegable2='ORTODONCIA INVISIBLE: Es un tratamiento que actualmente está en auge y parece ser que podría llegar a sustituir a la ortodoncia tradicional.'
    infoDesplegable3='BRACKETS AUTOLIGABLES: Con estos brackets evitamos llevar las gomas que sujetan el arco al bracket. Estos sujetan el arco mediante una pestañita que tienen.'
    infoDesplegable4='Cepillado tres veces al día: Este primer consejo es fundamental, ya que es la base de la higiene diaria.'
    infoDesplegable5='Usar un irrigador dental: El cepillado diario debe complementarse con este accesorio.'
    infoDesplegable6='Usar un cepillo interdental: Igual que con el irrigador, este tipo de cepillo permite llegar a zonas dentales de difícil acceso.'
    img="/Servicios/Implantologia/implantologia.jpg"
    img2='/Servicios/Implantologia/implantologia-1.jpg'
    img3="/Servicios/Ortodoncia/Ortodoncia-2.jpg"
  >
  <!--<li slot="punto1">Hola</li>-->
  <span slot="punto2">Cuidado con los alimentos: Cuando estás con un tratamiento de ortodoncia con brackets, hay que ser especialmente cauteloso con las comidas.</span>
  </Servicio>
  <Casos 
    img1='/Servicios/Ortodoncia/Casos/caso.jpg'
    img2='/Servicios/Ortodoncia/Casos/caso-2.png'
    title='Ortodoncia'
    imgSrc='/Servicios/Ortodoncia/Casos/caso-3.jpg'
  />
  <Botonesflotantes />
</DefaultLayout>