---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import HeaderExt from '../components/HeaderExt.astro'
import nino from "../assets/img/iconos/nino.png"
import endodoncia from "../assets/img/iconos/endodoncia.png"
import tirantes from "../assets/img/iconos/tirantes.png"
import cirugia from "../assets/img/iconos/cirugia.png"
import chequeo from "../assets/img/iconos/chequeo-dental.png"
import mandibula from "../assets/img/iconos/mandibula.png"
import Servicio from '../components/Servicio.astro'
import Casos from '../components/Casos.astro'
import Botonesflotantes from '../components/BotonesFlotantes.astro'
---

<DefaultLayout title="Implantología">
  <HeaderExt />
  <Servicio 
    title='Implantología' 
    subtitle='Puntos Importantes'
    punto1='¿Qué implantes encontramos?' 
    punto2='¿Cuándo es necesario un implante dental?' 
    contentmedia='¿Qué es la Implantología?'
    contentmedia1='La implantología dental es una disciplina odontológica que se dedica al reemplazo de dientes perdidos mediante la colocación quirúrgica de un implante dental en el maxilar o la mandíbula. A día de hoy se considera una de las técnicas más eficaces de rehabilitación dental.'
    infoDesplegable1='Subperiósticos o Yuxta-óseos: Este método de restauración dental consiste en la inserción de un marco de metal por debajo de la encía. La pieza de metal contiene, a su vez, unos pilares donde se ancla una prótesis.'
    infoDesplegable2='Endo-óseos: Es el método de restauración dental más común, siendo una alternativa muy recomendable para aquellas personas que deseen una importante mejora estética y funcional.'
    infoDesplegable3='Existen varios tipos de implantes endo-óseos:'
    infoDesplegable4='Pérdida dental a causa de una afección (caries, piorrea o periodontitis).'
    infoDesplegable5='Dientes que no completan su desarrollo por factores congénitos.'
    infoDesplegable6='Fracturas dentales debido a algún accidente y/o traumatismo.'
    img="/Servicios/Implantologia/implantologia.jpg"
    img2='/Servicios/Implantologia/implantologia-1.jpg'
    img3="/Servicios/Implantologia/implantologia-2.jpg"
  >
  <div slot="punto1" class="slot1">
    <ul>
      <li>Cilíndricos: Son implantes poco usados porque el proceso de integración dentro del hueso es más lento comparado con el resto de implantes.</li>
      <li>Atornillados: Es la modalidad de implantes más común. Presentan la superficie roscada, una característica que permite que el tornillo se fije de forma más rápida al hueso.</li>
      <li>Laminados: Son implantes únicamente recomendables para sustituir piezas dentales que se localicen en una zona anterior, especialmente en aquellos pacientes que presenten poco hueso. </li>
    </ul>
  </div>
  <span slot="punto2"><strong>¿A partir de qué edad se efectúan los implantes?</strong></span>
  <div slot="punto2" class="slot1">
    <ul>
      <li>Se puede practicar una intervención quirúrgica de este tipo en pacientes jóvenes una vez hayan completado el desarrollo de todas las piezas dentales.</li>
    </ul>
  </div>
  </Servicio>
  <Casos 
    img1='/Servicios/Implantologia/Casos/caso-1.jpg'
    img2='/Servicios/Implantologia/Casos/caso-2.jpg'
    title='Implantología'
    imgSrc='/Servicios/Implantologia/Casos/caso-3.jpg'
  />
  <Botonesflotantes />
</DefaultLayout>

<style>
  .slot1 ul {
    list-style: circle !important;
  }
  @media (min-width: 768px) {
    .slot1 {
      margin-left: 20px;
      margin-top: 10px;
    }
  }
</style>