---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
// import Counter from '../components/Counter.astro'
// import ContentMedia from '../components/ContentMedia.astro'
import Slider from '../components/Slider.astro'
import Header from '../components/Header.astro'
import Card from '../components/Card.astro'
import BotonesFlotantes from '../components/BotonesFlotantes.astro'
import Nino from '../components/icons/Nino.astro'
import Cirugia from '../components/icons/Cirugia.astro'
import Brackets from '../components/icons/Brackets.astro'
import Implante from '../components/icons/Implante.astro'
import Diente from '../components/icons/Diente.astro'
---

<DefaultLayout title="Inicio">
  <Header />
  <Hero />
  <section class="my-10" id="nosotros">
    <div class="container">
      <div class="grid grid-cols-1 gap-10 md:grid-cols-2 md:gap-24">
        <article class="rounded-xl h-fit p-10 bg-gradient-to-tr from-secondary400 to-primary200">
          <img src="/about.webp" alt="About us" class="rounded-lg"/>
        </article>
        <div class="space-content flex flex-col justify-center">
          <h2 class="text-4xl md:text-6xl">¿Quiénes Somos?</h2>
          <p class="text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolores modi adipisci at molestiae debitis delectus quis. 
            Similique ex doloremque illo quaerat, praesentium ab maxime repudiandae possimus pariatur asperiores consequuntur.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure dolores modi adipisci at molestiae debitis delectus quis.
          </p>
        </div>
      </div>
    </div>
  </section>  
  <section class="my-20">
    <div class="container" id="servicios">
      <h2 class="mb-16 text-6xl">Servicios</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        <Feature icon="/iconos/diente.png" title="Odontología General" servicio="/odontologiaGeneral" id="">
          <Diente className="w-16 h-16"/>
          <p slot="info" class="mb-4">
            Es la especialidad que se centra en el diagnóstico, tratamiento y prevención de los problemas primarios de la boca.
          </p>
        </Feature>
        <Feature title="Cirugía Maxilofacial" servicio="/maxilofacial" id="Cirugia">
          <Cirugia className="w-16 h-16"/>
          <p slot="info" class="mb-4">Extracciones de dientes, alargamiento coronario y todo lo relacionado con la regeneración ósea guiada.</p>
        </Feature>
        <Feature icon="/iconos/mandibula.png" title="Ortopedia Dentofacial" servicio="/ortopedia" id="Ortopedia">
          <Cirugia className="w-16 h-16"/>
          <p slot="info" class="mb-4">
            Corregimos tanto la posición de los dientes como las anomalías en la estructura ósea facial.
          </p>
        </Feature>
        <Feature icon="/iconos/endodoncia.png" title="Endodoncia" servicio="/endodoncia" id="Endodoncia">
          <Cirugia className="w-16 h-16"/>
          <p slot="info" class="mb-4">
            La formación y experiencia de nuestro equipo permite salvar piezas dentales naturales muy deterioradas y con afectación nerviosa.
          </p>
        </Feature>
        <Feature icon="/iconos/tirantes.png" title="Ortodoncia" servicio="/ortodoncia" id="Ortodoncia">
          <Cirugia className="w-16 h-16"/>
          <p slot="info" class="mb-4">
            Mejoramos su sonrisa usando los brackets metálicos, estéticos o los de microcristales de zafiro, que ofrecen mayor estética.
          </p>
        </Feature>
        <Feature icon="/iconos/nino.png" title="Odontopediatría" servicio="/odontopediatria" id="Odontopediatria">
          <Nino className="w-16 h-16"/>
          <p slot="info" class="mb-4">
            Contamos con los mejores especialistas enfocados en el diagnóstico y tratamiento de la población infantil.
          </p>
        </Feature>
        <Feature icon="/iconos/implante-dental.png" title="Implantología" servicio="/implantologia" id="Restauradora">
          <Implante className="w-16 h-16"/>
          <p slot="info" class="mb-4">
            Disciplina dedicada al reemplazo de dientes perdidos mediante la colocación quirúrgica de un implante.
          </p>
        </Feature>
        <Feature icon="/iconos/chequeo-dental.png" title="Periodoncia" servicio="/periodoncia" id="Restauradora">
          <Cirugia className="w-16 h-16"/>
          <p slot="info" class="mb-4">
            Especialidad de la odontología que trata las enfermedades de las encías y del hueso que sostiene los dientes.
          </p>
        </Feature>
        <Feature icon="/iconos/corona-dental.png" title="Prostodoncia" servicio="/prostodoncia" id="Restauradora">
          <Cirugia className="w-16 h-16"/>
          <p slot="info" class="mb-4">
            Especialidad de la odontología que se ocupa de diseñar y fabricar las prótesis dentales.
          </p>
        </Feature>
      </div>
    </div>
  </section>
  <section class="my-20" id="promociones">
    <div class="container">
      <h2 class="text-4xl mb-16 sm:text-6xl">Promociones</h2>
      <div class="promociones">
        <Card imgSrc="/promo.webp"/>
        <Card imgSrc="/promo.webp"/>
        <Card imgSrc="/promo.webp"/>
        <Card imgSrc="/promo.webp"/>
      </div>
    </div>
  </section>
  <div id="testimonios"></div>
  <Slider />
  <!--<section class="mt-64 mb-32">
    <div class="container">
      <h2 class="mb-16 text-6xl">Counters</h2>
      <div class="grid grid-cols-1 gap-12 sm:grid-cols-2 md:grid-cols-4">
        <Counter count="130" title="Stars" sub="On GitHub" />
        <Counter count="17" title="Accessible" sub="Components" />
        <Counter count="500" title="Commits" sub="Merged" />
        <Counter count="18+" title="Months" sub="Since launch" />
      </div>
    </div>
  </section>-->
  <BotonesFlotantes />
</DefaultLayout>

<style>
  .promociones {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 450px));
    gap: 70px;
    justify-content: center;
  }
  .swiper1 {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 768px) {
    .promociones {
      grid-template-columns: repeat(1, 1fr);
      margin: 0 20px;
    }
  }
</style>
<!-- <script is:inline type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
  const swiper = new Swiper('.swiper1', {
  // Optional parameters
  slidesPerView: '1',
  direction: 'horizontal',
  loop: true,
  spaceBetween: 30,
  autoplay: {
    delay: 2000,
  },
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
});
</script> -->