---
import CallToAction from './CallToAction.astro'

const currentYear = new Date().getFullYear()
---

<footer>
  <CallToAction />
  <section class="py-8">
    <div class="container">
      <p>Síguenos en todas nuestras redes sociales</p>
      <div class="container flex justify-start items-center rs">
        <a href="https://www.facebook.com/morcentrodental?locale=es_LA" target="_blank" rel="noopener noreferrer"><i class="bi bi-facebook footer-face"></i></a>
        <a href="https://www.instagram.com/mor_centro_dental?igshid=YTQwZjQ0NmI0OA==" target="_blank" rel="noopener noreferrer"><i class="bi bi-instagram footer-ins"></i></a>
      </div>
      <p>
        &copy; {currentYear} - Todos los derechos reservados Mör Clínica Dental. Desarrollado por agencia de marketing <a
          href="https://dentarios.com.mx">Dentarios</a
        >.
      </p>
    </div>
  </section>
</footer>

<style>
  .rs a {
    text-decoration: none;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .rs a:hover > .footer-face, 
  .rs a:hover > .footer-ins {
    transition: all 0.275s ease-in;
    color: var(--primary-500);
  }
  .footer-face, .footer-ins {
    font-size: 25px;
    color: var(--secondary-500);
    transition: all 0.275s ease-in;
  }
  .footer-face {
    margin-right: 10px;
  }
</style>