---
import { Icon } from 'astro-icon'
import ContentMedia from '../components/ContentMedia.astro'
const { src = '/hero.png' } = Astro.props
import hero from '../assets/img/hero.jpg';
---

<section class="hero my-10">
  <div class="container">
    <div class="card-2">
      <h2 class="text-center text-xl lg:text-6xl">Nuestros servicios te ayudarán a olvidarte de los problemas dentales</h2>
    </div>
  </div>
  <div class="my-10"></div>
  <!--<div class="container flex justify-center">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5">
      <div class="card-3">
        <div class="content-3">
          <p class="heading-3">Card Hover Effect
          </p><p class="para-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
            laboriosam at voluptas minus culpa deserunt delectus sapiente
            inventore pariatur
          </p>
          <button class="btn-3">Agendar cita</button>
        </div>
      </div>
      <div class="card-3">
        <div class="content-3">
          <p class="heading-3">Card Hover Effect
          </p><p class="para-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
            laboriosam at voluptas minus culpa deserunt delectus sapiente
            inventore pariatur
          </p>
          <button class="btn-3">Read more</button>
        </div>
      </div>
      <div class="card-3">
        <div class="content-3">
          <p class="heading-3">Card Hover Effect
          </p><p class="para-3">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Modi
            laboriosam at voluptas minus culpa deserunt delectus sapiente
            inventore pariatur
          </p>
          <button class="btn-3">Read more</button>
        </div>
      </div>
    </div>
  </div>-->
  <div id="Restauradora"></div>
  <ContentMedia imgSrc="/service-1.jpg">
    <h2>Odontología restauradora y preventiva</h2>
    <p class="text-xl">
      Mantenimiento de su salud oral, reconstrucciones dentales y prevención de patologías.
    </p>
  </ContentMedia>
  <div id=""></div>
  <ContentMedia reverseImg="true" imgSrc="/service-2.jpg">
    <h2>Ortodoncia</h2>
    <p class="text-xl">
      Mejoramos su sonrisa mediante los convencionales brackets metálicos o estéticos, así como los de microcristales de zafiro, que ofrecen una mayor estética en adultos y adolescentes.
    </p>
  </ContentMedia>
  <div id=""></div>
  <ContentMedia imgSrc="/service-3.jpg">
    <h2>Ortopedia dentofacial</h2>
    <p class="text-xl">
      Corregimos tanto la posición de los dientes como las anomalías en la estructura ósea facial.
    </p>
  </ContentMedia>
  <div id=""></div>
  <ContentMedia reverseImg="true" imgSrc="/service-4.png">
    <h2>Odontopediatria</h2>
    <p class="text-xl">
      Contamos con especialistas en el diagnóstico y tratamiento de la población infantil.
    </p>
  </ContentMedia>
  <div id=""></div>
  <ContentMedia imgSrc="/service-5.jpg">
    <h2>Endodoncia</h2>
    <p class="text-xl">
      La formación y experiencia de nuestro equipo permite salvar piezas dentales naturales muy deterioradas y con afectación nerviosa.
    </p>
  </ContentMedia>
  <div id=""></div>
  <ContentMedia reverseImg="true" imgSrc="/service-6.jpg">
    <h2>Cirugía oral, maxilofacial e implantología</h2>
    <p class="text-xl">
      Extracciones de dientes, alargamiento coronario y todo lo relacionado con la regeneración ósea guiada.
    </p>
  </ContentMedia>
</section>

<style lang="scss">
  .card-3 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 320px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    padding: 32px;
    overflow: hidden;
    border-radius: 10px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .content-3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    color: #e8e8e8;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .content-3 .heading-3 {
    font-weight: 700;
    font-size: 32px;
  }

  .content-3 .para-3 {
    line-height: 1.5;
  }

  .content-3 .btn-3 {
    color: #e8e8e8;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .card-3::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5px;
    background: linear-gradient(-45deg, #f89b29 0%, #ff0f7b 100% );
    z-index: -1;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.320, 1);
  }

  .card-3:hover::before {
    height: 100%;
  }

  .card-3:hover {
    box-shadow: none;
  }

  .card-3:hover .btn-3 {
    color: #212121;
    background: #e8e8e8;
  }

  .content-3 .btn-3:hover {
    outline: 2px solid #e8e8e8;
    background: transparent;
    color: #e8e8e8;
  }

  .content-3 .btn-3:active {
    box-shadow: none;
  }





  .card-2 {
  position: relative;
  width: 100%;
  height: 254px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  color: white;
}
.card-2 h2 {
  color: black;
}

.card-2::before {
  content: '';
  position: absolute;
  inset: 0;
  left: -5px;
  margin: auto;
  width: 101%;
  height: 264px;
  border-radius: 10px;
  background: linear-gradient(-45deg, var(--secondary-500), var(--primary-500) );
  z-index: -10;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card-2::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(-45deg, var(--secondary-200), var(--primary-100));
  transform: translate3d(0, 0, 0) scale(0.95);
  filter: blur(20px);
}

.heading-2 {
  font-size: 20px;
  text-transform: capitalize;
  font-weight: 700;
}

.card-2 p:not(.heading-2) {
  font-size: 14px;
}

.card-2 p:last-child {
  color: #e81cff;
  font-weight: 600;
}

.card-2:hover::after {
  filter: blur(30px);
}

.card-1:hover::before {
  transform: rotate(-90deg) scaleX(1.34) scaleY(0.77);
}


  .container img {
    border-radius: 20px;
  }
  .text-gradient {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-500));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .text-blue {
    background: #22a9cb;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  @media (max-width: 768px) {
    .card-2 {
      height: 100%;
    }
    .card-2::before {
      width: 102%;
      height: 108%;
    }
  }
</style>
