---
import Review from "./Review.astro";
---

<section class="my-20">
  <div class="container">
    <h2 class="text-4xl mb-16 sm:text-6xl">Testimonios</h2>
    <div>
      <!-- Slider main container -->
      <div class="swiper swiper2">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <!-- Slides -->
          <div class="swiper-slide">
            <Review 
              imgSrc="/clientes/cliente5.png"
              name="Paciente Paciente"
              reviewText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt soluta eligendi hic velit, mollitia cumque, veniam commodi in repellendus iure sed voluptas, laudantium quod incidunt est voluptate perferendis suscipit ut!"
            /> 
          </div>
          <div class="swiper-slide">
            <Review 
              imgSrc="/clientes/cliente5.png"
              name="Paciente Paciente"
              reviewText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt soluta eligendi hic velit, mollitia cumque, veniam commodi in repellendus iure sed voluptas, laudantium quod incidunt est voluptate perferendis suscipit ut!"
            /> 
          </div>
          <div class="swiper-slide">
            <Review 
              imgSrc="/clientes/cliente5.png"
              name="Paciente Paciente"
              reviewText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt soluta eligendi hic velit, mollitia cumque, veniam commodi in repellendus iure sed voluptas, laudantium quod incidunt est voluptate perferendis suscipit ut!"
            /> 
          </div>
          <div class="swiper-slide">
            <Review 
              imgSrc="/clientes/cliente5.png"
              name="Paciente Paciente"
              reviewText="Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt soluta eligendi hic velit, mollitia cumque, veniam commodi in repellendus iure sed voluptas, laudantium quod incidunt est voluptate perferendis suscipit ut!"
            /> 
          </div>
        </div>

          <!-- If we need navigation buttons -->
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
      </div>
    </div>
  </div>
</section>

<style>
  :root 
  {
  --swiper-navigation-size: 15px;
  --swiper-navigation-top-offset: 50%;
  --swiper-navigation-sides-offset: 10px;
  --swiper-navigation-color: var(--primary-300);
  }
  .swiper2 {
    width: 100%;
    height: 100%;
  }
  .swiper-button-next, .swiper-button-prev {
    transition: all 0.275s linear;
    padding: 20px;
    border-radius: 50%
  }
  .swiper-button-prev:hover, .swiper-button-next:hover {
    backdrop-filter: blur(20px);
    background-color: var(--primary-100);
    border-radius: 100%;
    transition: all 0.275s linear;
    --swiper-navigation-size: 20px;
  }
</style>
<script type="module">
  import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs';
  const swiper = new Swiper('.swiper2', {
  // Optional parameters
  slidesPerView: '1',
  direction: 'horizontal',
  loop: true,
  autoplay: {
    delay: 2000,
  },
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  scrollbar: {
    el: '.swiper-scrollbar',
  },
  breakpoints: {
    // when window width is >= 320px
    // when window width is >= 640px
    768: {
      slidesPerView: 3,
      spaceBetween: 20
    }
  }
});
</script>